
.cut, .guide {
	fill: none;
	stroke:darkgrey;
	stroke-width: 1;
}

.fold {
	stroke:white;
	stroke-width: 1;
	stroke-dasharray: 1mm 2mm;
}

.title {
	stroke:white;
	stroke-width: 1;
	stroke-dasharray: 1mm 2mm;
}

.face text {
	text-anchor: middle;
	alignment-baseline: middle;
}

@media print {
	.editor {
		display: none;
	}

	.page {
		page-break-after: always;
	}

	.page svg {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen {
	.sections {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		gap: 5px 25px;
	}

	.params {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		gap: 15px 25px;
	}

	.result {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		gap: 10px;
	}

	input {
		width: 50px;
	}
	input.href {
		width: 300px;
	}
	input.text {
		width: 150px;
	}
	input.font {
		width: 200px;
	}

	.success {
		color: darkgreen;
	}
	.warning {
		color: darkred;
	}

	svg {
		border: solid;
	}
	
	rect.inside {
		fill: whitesmoke;
	}
	rect.insideTop {
		fill: azure;
	}
	.insideTop input {
		background-color: azure;
	}
	rect.insideLeft {
		fill: honeydew;
	}
	.insideLeft input {
		background-color: honeydew;
	}
	rect.outside {
		fill: ivory;
	}
	.outside input {
		background-color: ivory;
	}
	rect.bendMargin {
		fill: floralwhite;
	}
	.bendMargin input {
		background-color: floralwhite;
	}
}
